<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alfasoft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Alfasoft.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar bg-light navbar-expand-md py-3">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-page="/Index">
                    <span class="text-black">Alfasoft</span>
                </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-menu">
                    <span class="visually-hidden">Menu</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="nav-menu" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Index</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/NewContact">New Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <main role="main" class="py-4 py-xl-5">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Alfasoft
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>